@using Microsoft.AspNetCore.Identity;
@model ToDoList.ViewModels.AppViewModel
@{
    ViewBag.Title = "Tasks";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tasks</h1>

<div class="form-outline">
    <input type="search" id="form1" class="form-control" placeholder="Search" aria-label="Search" />
</div>
<div class="space"></div>

<div class="panel">
    <div>
        @Html.ActionLink("New Task", "New", "Job", null, new { @class = "btn btn-sm btn-primary panel" })
    </div>
    <div class="space"></div>
    <div class="form-check panel">
        <input class="form-check-input align-middle" type="checkbox" id="checkbox" name="hidetasks" value="True">
        <br />
        <label class="form-check-label align-middle" for="hidetasks">Hide completed tasks</label>
    </div>
</div>
<div class="space"></div>

<table id="Jobs" class="table" data-paging="false" data-ordering="true"></table>

@section scripts {

    <script>
        $(document).ready(function () {

            //building a table
            var tbl = $("#Jobs").DataTable({
                ajax: {
                    url: "/api/Jobs/",
                    dataSrc: ""
                },

                columns: [
                    {
                        title: "Title",
                        data: "name",
                        render: function (data, type, job) {
                            if (job.isDone == false) {
                                var result = "<a href='job/edit/" + job.id + "'>" + job.name + "</a>";
                            }
                            else {
                                result = data;
                            }
                            return result;
                        }
                    },
                    {
                        title: "Creation Date",
                        data: "createdDate",
                        render: function (data) {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            var day = date.getDate();
                            var m = month.toString().length > 1 ? month : "0" + month;
                            var d = day.toString().length > 1 ? day : "0" + day;
                            var result = d + "." + m + "." + date.getFullYear();
                            return "<p>" + result + "</p>";
                        }
                    },

                    {
                        title: "Deadline",
                        data: "dueDate",
                        render: function (data) {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            var day = date.getDate();
                            var m = month.toString().length > 1 ? month : "0" + month;
                            var d = day.toString().length > 1 ? day : "0" + day;
                            var result = d + "." + m + "." + date.getFullYear();
                            return "<p>" + result + "</p>";
                        }
                    },

                    {
                        title: "Priority",
                        data: "jobPriority.name"
                    },

                    {
                        title: "Status",
                        data: "jobStatus.name"
                    },

                    {
                        title: "User",
                        data: "creationUser"
                    },

                    {
                        title: "Done",
                        data: "isDone"
                    },

                    {
                        data: "id",
                        render: function (data, type, job) {
                            if (job.isDone == false) {
                                var result = "<a class='btn btn-sm btn-primary js-complete' href='/job/complete/" + data + "'>Complete</a> <button class='btn btn-sm btn-primary js-delete' data-job-id=" + data + ">Delete</button> <a class='btn btn-sm btn-primary' href='/job/edit/" + data + "'>Edit</a>";
                            }

                            else {
                                var result = "<a class='btn btn-sm btn-primary js-complete' href='/job/complete/" + data + "'>Activate</a> <div class='btn btn-sm btn-secondary'>Delete</div> <div class='btn btn-sm btn-secondary' href=''>Edit</div>";
                            }
                            return result;
                        }
                    }
                ],
                createdRow: function (row) {
                    $(row).attr('redline');
                }
            });

            //filtering tables by User
            tbl.columns(5).search('@User.Identity.Name', true, false).draw();

            //hiding completed tasks
            $("#checkbox").on("change", function () {
                var flag = document.getElementById("checkbox");
                if (flag.checked == true) {
                    tbl.columns(6).search('false', true, false).draw();
                } else {
                    tbl.columns(6).search('').draw();
                }
            });

            //hidding user column
            tbl.column(5).visible(false);
            tbl.column(6).visible(false);

            //setting custom search
            $('#searchForm').on('keyup', function () {
                tbl.search($(this).val()).draw();
            });

            //bootbox delete function
            $("#Jobs").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm({
                    message: "Do you want to delete this Task?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-secondary'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-primary'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/Jobs/" + button.attr("data-Job-id"),
                                method: "DELETE",
                                success: function () {
                                    tbl.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    }
                });

            });
        });

    </script>

}