@{
    ViewData["Title"] = "About ToDo List";
}
<h1>@ViewData["Title"]</h1>

<h4>Use this page to&nbsp;learn more about the amazing:) ToDo List application.</h4>

<ul class="list-unstyled">
    <li>An&nbsp;innovative web solution built on&nbsp;cutting-edge technology</li>
    <li>Working on&nbsp;this project provided invaluable experience in&nbsp;the following areas:</li>
</ul>

<ul class="list-unstyled">
    <li><strong>Model-View-Controller (MVC)</strong>&nbsp;&mdash; Applying advanced architectural patterns to&nbsp;build scalable and maintainable applications</li>
    <li><strong>API</strong>&nbsp;&mdash; Designing and building a&nbsp;flexible and efficient API for seamless integration</li>
    <li><strong>Entity Framework</strong>&nbsp;&mdash; Utilizing a&nbsp;reliable and scalable database system (CRUD operations) within the MVC framework</li>
    <li><strong>Identity (+Roles)</strong>&nbsp;&mdash; Implementing secure authentication and authorization mechanisms (Access Control) in&nbsp;ASP.NET core applications</li>
    <li><strong>JavaScript, JSON, AJAX</strong>&nbsp;&mdash; Leveraging modern web technologies to&nbsp;create interactive and dynamic user experiences</li>
    <li><strong>Bootstrap, CSS, HTML</strong>&nbsp;&mdash; Crafting beautiful and responsive user interfaces with the help of&nbsp;CSS frameworks like Bootstrap</li>
    <li><strong>C#</strong> - Harnessing the power of&nbsp;the C# language to&nbsp;develop robust and efficient solutions</li>
</ul>

<p>Connect with&nbsp;me:</p>
<ul>
    <li><a href="https://www.linkedin.com/in/yurii-krutsko/" target="_blank">LinkedIn</a></li>
    <li><a href="https://github.com/ykrutsko" target="_blank">GitHub</a></li>
</ul>

<img src="~/files/img/dev.png" alt="Developer Image" style="max-width: 766px; height: auto;">
