@{
    ViewData["Title"] = "About ToDo List";
}
<h1>@ViewData["Title"]</h1>

<h4>Use this page to learn more about the amazing:) ToDo List application.</h4>

<ul class="list-unstyled">
    <li>An innovative web solution built on cutting-edge technology</li>
    <li>Working on this project provided invaluable experience in the following areas:</li>
</ul>

<ul class="list-unstyled">
    <li>Developing robust solutions using a powerful programming language</li>
    <li>Applying advanced architectural patterns</li>
    <li>Utilizing a reliable and scalable database system (Entity Framework, CRUD operations)</li>
    <li>Implementing secure authentication and authorization mechanisms (Identity, Access Control)</li>
    <li>Designing and building a flexible and efficient API</li>
    <li>Leveraging modern web technologies (JavaScript, JSON, AJAX)</li>
    <li>Crafting beautiful and responsive user interfaces (Bootstrap, CSS, HTML)</li>
</ul>

<p>Connect with me:</p>
<ul>
    <li><a href="https://www.linkedin.com/in/yurii-krutsko/" target="_blank">LinkedIn</a></li>
    <li><a href="https://github.com/ykrutsko" target="_blank">GitHub</a></li>
</ul>

<img src="~/files/img/dev.png" alt="Developer Image" style="max-width: 766px; height: auto;">
